.separador1 {
    margin-left: 50px;
}

.separador3 {
    margin-top: 30px;
}

.moverBoton {
    margin-left: 10px;
    color: white;
}

.dividir {
    width: 75%;
}

.dividirp {
    width: 65%
}

.movere {
    margin-left: 50px;
}

.mover {
    margin-left: 25px;
}

h1 {
    font-size: 35px;
    color: rgb(100, 149, 237);
}

.linea {
    color: rgb(0, 0, 205) !important;
    border-top: 2px solid !important;
}

.subletra {
    font-size: 25px;
    color: rgb(240, 128, 128);
}

label {
    font-weight: bold;
}

