<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 separador-izq">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <form class="form-inline row separador-der">
    <input class="form-control mr-sm-2 col sep-der-inp" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 col-3" type="submit">Search</button>
  </form>
</nav>

<main role="main" class="container bg-light">
  <h1>{{title}}</h1>
  <p>Clase: {{numero}}</p>

  <div class="row">
    <div class="col">
      <h2>ngIf</h2>
      <hr>
      <mat-card *ngIf="mostrar">
        <div class="card-body">
          <p>{{frase.autor}}</p>
          <p>{{frase.mensaje}}</p>
        </div>
      </mat-card>
      <button mat-raised-button color="primary" (click)="mostrar = !mostrar">Mostrar / Ocultar</button>
    </div>
    <div class="col">
      <h2>ngFor</h2>
      <hr>
      <mat-list role="list" *ngFor="let name of personajes; let i = index">
        <mat-list-item role="listitem">{{i + 1}} - {{name}}</mat-list-item>
      </mat-list>
    </div>
  </div>

</main>

<router-outlet></router-outlet>