.separador1 {
  margin-left: 50px;
}

.direcciones {
  margin-left: 10px;
  color: gray;
  font-style: italic;
}

label {
  font-weight: bold;
}

.dividir {
  width: 75%;
}

.mover {
  margin-left: 25px;
}

.falta {
  border: 1px solid red !important;
}

.listo {
  border: 1px solid green !important;
}

